{%- if breadcrumbs|length > 1 -%}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {%- for breadcrumb in breadcrumbs -%}
                {%- set has_link = breadcrumb.link is not null -%}
                <li class="breadcrumb-item{% if loop.last %} active{% endif %}"{% if loop.last %} aria-current="page"{% endif %}>
                    {%- if has_link and not loop.last -%}
                        <a href="{{ breadcrumb.link }}">
                    {%- endif -%}
                    {{- breadcrumb.label -}}
                    {%- if has_link and not loop.last -%}
                        </a>
                    {%- endif -%}
                </li>
            {%- endfor -%}
        </ol>
    </nav>
{%- endif -%}
